
:root {
    --primary-green: #0b3213; 
    --secondary-green: #50d76b; 
    --dark-text: #222222;
    --light-bg: #F4F7F8;
    --white: #FFFFFF;
    --shadow-color: rgba(56, 163, 165, 0.2); 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-text);
    background-color: var(--light-bg); 
}

.main_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 15px 40px; 
    box-shadow: 0 4px 12px var(--shadow-color);
    position: sticky; 
    top: 0;
    z-index: 1000; 
}

.header img {
    height: 40px; 
}

.header .buttons {
    display: flex;
    gap: 15px;
}

.header button {
    background-color: var(--primary-green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s ease; 
}

.header button:first-child {
    background-color: var(--light-bg);
    color: var(--primary-green);
    border: 2px solid var(--primary-green);
}

.header button:hover {
    background-color: var(--secondary-green); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transform: translateY(-2px); 
}

.header button:first-child:hover {
    background-color: rgba(56, 163, 165, 0.1);
    transform: translateY(-2px); 
}

#map {
    flex: 1; 
    margin: 20px auto; 
    width: 95%; 
    max-width: 1400px; 
    border: 1px solid #DDDDDD; 
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
}

.logo-group {
    display: flex;
    align-items: center;
}